.Aileron{
    height: 100px;
    width: 100px;
    background: linear-gradient(#87919e, #51555e);
    border-radius: 0 0 30px 30px;
    box-shadow: inset -15px 0 #50565e;
    margin: 2% auto;
}

.Top {
    height: 100px;
    width: 100px;
    background: linear-gradient(#87919e, #51555e);
    border-radius: 100% 100% 0 0;
    box-shadow: inset -15px 0 #50565e;
    margin: 2% auto;
    position: relative;
}

.tip {
    width: 0px;
    height: 0px;
    position: absolute;
    border-style: solid;
    border-width: 0 5px 50px 5px;
    border-color: transparent transparent #87919e transparent;
    margin: -47px 43px auto;

}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    pointer-events: none;
    height: 50;
    top: '22%'
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.aileron1triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 32px 32px 0 0;
    border-color: #535a62 transparent transparent transparent;
    position: absolute;
    margin: 66px -36px auto;
}

.aileron2triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 32px 32px 0;
    border-color: transparent #535a62 transparent transparent;
    position: absolute;
    margin: 66px 103px auto;
}

.aileron1 {
    width: 50px;
    height: 70px;
    position: absolute;
    background: linear-gradient(#87919e, #51555e);
    margin: 0% -36px auto;
    border-top-left-radius: 100%;
    border-bottom-right-radius: 60%;
    box-shadow: inset -2px -3px #50565e;
}

.aileron2 {
    width: 50px;
    height: 70px;
    position: absolute;
    background: linear-gradient(#87919e, #51555e);
    float: right;
    margin: 0% 85px auto;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 60%;
    box-shadow: inset 3px -2px  #50565e;
}

/*.Seeds1:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    left: -170%;
    top: -260%;
    border-radius: 40%;
    transform: rotate(60deg);
    box-shadow: inset -1px 2px #c9c9c9;
}

.Seeds1:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    left: 180%;
    top: -50%;
    border-radius: 40%;
    transform: rotate(60deg);
    box-shadow: inset -1px -3px #c9c9c9;
}*/

.Seeds2 {
    width: 10%;
    height: 15%;
    position: absolute;
    background-color: white;
    left: 64%;
    top: 50%;
    border-radius: 40%;
    transform: rotate(10deg);
    box-shadow: inset -3px 0 #c9c9c9;
}

.Seeds2:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    left: 150%;
    top: -130%;
    border-radius: 40%;
    transform: rotate(90deg);
    box-shadow: inset 1px 3px #c9c9c9;
}


.Meat {
    width: 80%;
    height: 8%;
    background: linear-gradient(#7f3608, #702e05);
    margin: 2% auto;
    border-radius: 15px;
}

.Cheese {
    width: 100px;
    height: 100px;
    margin: 2% auto;
    background: linear-gradient(#87919e, #51555e);
    box-shadow: inset -15px 0 #50565e;

}

.Salad {
    width: 85%;
    height: 7%;
    margin: 2% auto;
    background: linear-gradient(#228c1d, #91ce50);
    border-radius: 20px;
}

.Bacon {
    width: 80%;
    height: 3%;
    background: linear-gradient(#bf3813, #c45e38);
    margin: 2% auto;
}

.img {

}
